.prefecture_checkbox_container {
  display: grid;
  grid-row-gap: 1rem;
}

/* 都道府県選択チェックボックスのスタイル */
.prefecture_checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.1rem;
  flex-wrap: wrap;
  align-items: center;
}
