.checkbox_container {
  display: flex;
  cursor: pointer;
}

.checkbox_container:hover {
  background-color: var(--selected-background);
}

.checkbox_checked {
  display: flex;
  cursor: pointer;
  background-color: var(--selected-background);
}

input[type="checkbox"] {
  cursor: pointer;
}
