.checkboxContainer {
  display: flex;
  cursor: pointer;
}

.checkboxContainer:hover {
  background-color: var(--elementSelected);
}

.checkboxContainerChecked {
  display: flex;
  cursor: pointer;
  background-color: var(--elementSelected);
}

input[type="checkbox"] {
  cursor: pointer;
}
